{{ define "main" }}
  <h1>{{ .Title }}</h1>
  <section>
    <h2>{{ .Params.subtitle }}</h2>
    <div class="column_wrapper">
      <div class="column column_left center">
        {{ .Content }}
      </div>
      <div class="column column_right center">
        <div style="margin-bottom: 0.5em"><b>Archived Legacy Versions</b>></div>
        {{ range .Params.apks }}
        {{ partial "apk-item.html" . }}
        {{ end }}
      </div>
      <div class="clearfix"></div>
    </div>
  </section>
{{ end }}
