{{ define "main" }}
<section>
  <h1>Welcome to Pasty!</h1>
  <h2>Let me show you around</h2>

  <div id="qrcode">
    <a class="image" href="https://play.google.com/store/apps/details?id=de.electricdynamite.pasty">
      <img src="/images/qrcode.png" alt="QR Code for Pasty in Google Play" width="185" height="185"></a>
    <div class="little">Pasty on Google Play</div>
  </div>
  <p>Hello there, and welcome to Pasty, your friendly Cloud Clipboard, helping you to connect the clipboard of all your devices a little more every day.</p>
  <p>If you wanna get started right away, go ahead and <a href="https://pasty.cc/user/create/">create an account</a>. You will be surprised how little we want to know about you!</p>
  <p>If you wanna find out more about Pasty and what it can do for you, then keep on reading.</p>
</section>
<section>
  <h1>What Pasty can do for you</h1>
  <p>Pasty provides you with a clipboard, just like your computer, tablet or smartphone does. The difference is, that the data is not stored locally on the device, but instead gets stored on Pasty's servers.
  Why should this be of advantage for you? Well, imagine you just got this link for this awesome <a href="https://youtu.be/dQw4w9WgXcQ" target="_blank">Youtube Video</a> on your smartphone,
  and wanna show it to your friends on a big screen. Or you just uploaded one of your great pictures to <a href="http://imgur.com/9wuzk" target="_blank">Imgur</a> on your computer and wanna share it using an App on your tablet.
  How to you get the URL over to the other device? If you are any like me, you are tired of sending yourself emails containing just a link, or for that matter a bit of text you need on the other device.
  </p>
  <p>This is where Pasty comes running like the hero you needed but did not deserve. <span class="little">(Batman jokes, anyone?)</span><br>
  <a class="image" href="https://play.google.com/store/apps/details?id=de.electricdynamite.pasty"><img src="images/android_app_on_play_large.png" alt="Get the App on Google Play" style="float: left; margin: 8px" width="172" height="60"></a>Just open your Pasty app, or use Pasty's web-app to copy your link into your Pasty Clipboard. Then open Pasty on the other device, copy and just go on with what you really enjoy.
  Pasty is a tool designed to give you more time for the things you enjoy, taking as little time as possible for itself. It is almost as if you Copy &amp; Paste between two devices. And the best thing? It is completely free!<br>
  Now go and <a href="https://pasty.cc/user/create/">create an account</a>!
  </p>
</section>
{{ end }}
