<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{ page.title }}</title>
    <link rel="icon" href="images/favicon.ico" type="image/x-icon">
    {% css_asset_tag global %}
      - /_assets/stylesheets/default.css
    {% endcss_asset_tag %}
  </head>
  <body>
    <div id="logo"></div>
    <header>
      <a {% if page.name == "index" %}class="selected" {%endif %}href="index.html">About Pasty</a>
      <a {% if page.name == "download" %}class="selected" {%endif %}href="download.html">Download</a>
      <a {% if page.name == "faq" %}class="selected" {%endif %}href="faq.html">F.A.Q.</a>
      <a href="https://pasty.cc">Login</a>
    </header>
    <div id="content">
      {{content}}
    </div>
    <footer>
      Pasty - The Cloud Clipboard - &copy; 2012 - 2013 Philipp Geschke<br>
      <a href="imprint.html">Imprint</a> | <a href="https://pasty.cc/tos">Terms of Service</a> | <a href="http://electricdynamite.de/privacy.html">Privacy</a><br>
      <div id="flattr"><a href="http://flattr.com/thing/549844/Pasty-the-cloud-clipboard" target="_blank"><img src="images/flattr-badge-large.png" alt="Flattr this" title="Flattr this" width="93" height="20"></a></div>
    </footer>
  </body>
</html>

